<div class="formgroup-inline">
  <div class="field">
    <!--<label for="datum">Datum</label>-->
    <p-dropdown id="datum" [options]="datumauswahl" [(ngModel)]="selectedDatum" optionLabel="bezeichnung"></p-dropdown>
  </div>
  <div class="field">
    <app-pdf-links [hausnummer]="hausnummer"></app-pdf-links>
  </div>
</div>
<!--<div>{{strasse?.name}} {{hausnummer?.nummer}}</div>-->
<app-leerung-calendar [leerungen]="leerungen" [jahr]="selectedDatum.jahr" [monat]="selectedDatum.monat"></app-leerung-calendar>
