.euv-table {
  display: table;
  border-collapse: collapse;
  width:auto;
  height: auto;
}

.euv-row-header {
  display: table-row;
}

.euv-row-data {
  display: table-row;
}

.euv-col-header {
  display: table-column;
  background-color: rgb(210,212,209);
}

.euv-col-left {
  display: table-column;
  border-color: black;
  border-width: 1px;
  border-style: solid solid solid none;
}

.euv-col-right {
  display: table-column;
  border-color: black;
  border-width: 1px;
  border-style: solid none solid solid;
}

.euv-col-mid {
  display: table-column;
  border-color: black;
  border-width: 1px;
  border-style: solid solid solid solid;
}
