<div class="field">
  <label for="hausnummer">Hausnummer</label>
  <p-dropdown
    id="hausnummer"
    styleClass="inputfield w-full"
    [disabled]="isDisabled()"
    [options]="hausnummern"
    [(ngModel)]="selectedHausnummer"
    (onChange)="onChange($event)"
    optionLabel="Hausmummer"
    optionLabel="nummer"
    optionValue="id">
  </p-dropdown>
</div>
