<div class="euv-root">
  <div class="uppercase euv-blue">Ihr Standort</div>
  <div class="flex">
    <app-strassenauswahl class="flex" [strasse]="selectedStrasse" (onSelect)="onStrasseChanged($event)" (onClear)="clearStrasse()"></app-strassenauswahl>
    <app-hausnummern-auswahl class="flex" [hausnummer]="selectedHausnummer" [stId]="selectedStrasse?.id" [disabled]="selectedStrasse==null" (hausnummerChanged)="onHausnummerChanged($event)"></app-hausnummern-auswahl>
  </div>

  <ng-template [ngIf]="selectedStrasse!=null && selectedHausnummer!=null">
    <div class="uppercase euv-blue">Ihre Termine</div>
    <div class="">
      <app-leerungen [strasse]="selectedStrasse" [hausnummer]="selectedHausnummer"></app-leerungen>
    </div>

    <app-ical-links [hausnummer]="selectedHausnummer"></app-ical-links>
  </ng-template>

  <div class="euv-version text-right">
    <a href="https://gitlab.com/euv/leerung-web">Version: {{ environment.version }}</a>
  </div>
</div>
