<div class="pt-5 uppercase euv-blue">Leerungstermine abonnieren (iCal-Feed)</div>
<div class="text-left">
  Hier bieten wie Ihnen die Möglichkeit, die Leerungstermine in den Kalender auf Ihrem
  iPhone oder iPad, Google-Kalender oder Outlook zu integrieren. Die Vorgehensweise
  ist vom verwendeten Kalender abhängig. Beim Abonnieren des ICalFeed-Kalenders werden
  die Änderungen der Leerungstermine Ihrer Abfallbehälter automatisch aktualisiert.
  (Hinweise zur Einrichtung beachten)
</div>

<div class="flex flex-wrap pt-4">
  <div class="euv-box pb-4 mb-4 euv-rb">
    <p class="uppercase euv-blue">Apple iCal</p>
    <p>Für Ihr iPhone oder iPad</p>
    <div class="field">
      <label for="e1">Erinnerung wählen:</label>
      <p-dropdown id="e1" [options]="zeiten" optionLabel="name" [(ngModel)]="zeit" styleClass="inputfield"></p-dropdown>
    </div>
    <button pButton class="euv-button-blue" (click)="openApple(zeit)" label="Kalender abonnieren"></button>
  </div>

  <div class="euv-box pb-4 mb-4 euv-rb">
    <p class="uppercase euv-blue">Google Kalender</p>
    <p>Für Ihr Google-Konto, Android-Smartphone oder -Tablet</p>
    <p>Die Erinnerungszeit bitte manuell in Ihren Google-Kalendereinstellungen vornehmen. (<a href="https://calendar.google.com">Google Kalendar</a>)</p>

    <button pButton class="euv-button-blue" (click)="openGoogle(zeit)" label="Kalender abonnieren"></button>
    <button pButton class="euv-button-blue ml-2" (click)="copyGoogleToClipboard(zeit)" label="Link kopieren"></button>
  </div>

  <div class="euv-box pb-4">
    <p class="uppercase euv-blue">Outlook und weiter</p>
    <p>Für die Einbindung in Ihr Mail-Programm wie Outlook oder Thunderbird.</p>
    <div class="field">
      <label for="e2">Erinnerung wählen:</label>
      <p-dropdown id="e2" [options]="zeiten" optionLabel="name" [(ngModel)]="zeit"></p-dropdown>
    </div>

    <button pButton class="euv-button-blue" (click)="openWebcal(zeit)" label="Kalender abonnieren"></button>
    <button pButton class="euv-button-blue ml-2" (click)="copyToClipboard(zeit)" label="Link kopieren"></button>
  </div>

  <div class="euv-box-full">
    <p class="uppercase euv-blue">Leerungstermine herunterladen (iCal-Datei)</p>
    <p>Des Weiteren besteht die Möglichkeit die Leerungstermine als einmaligen Download (keine Synchronisierung)
      runterzuladen. Diese lässt sich anschließend in alle bekannten elektronischen Kalender (wie Google Kalender,
      AppleICal, Microsoft Outlook etc.) übernehmen. Bitte beachten Sie, das dies nur eine Momentaufnahme der
      Ereignisse im Kalender zum Zeitpunkt des Imports ist. Änderungen der Leerungstermine werden nicht automatisch
      aktualisiert.</p>
    <div class="field">
      <label for="e3">Erinnerung wählen:</label>
      <p-dropdown id="e3" [options]="zeiten" optionLabel="name" [(ngModel)]="zeit"></p-dropdown>
    </div>
    <button pButton class="euv-button-blue" (click)="openDownload(zeit)" label="Datei herunterladen"></button>
    <button pButton class="euv-button-blue ml-2" (click)="copyDownloadLinkToClipboard(zeit)" label="Link kopieren"></button>
  </div>

</div>
