.euv-link-simple {
  color: #5098ea;
  text-decoration: none;
}

.euv-box {
  min-width: 30rem;
  max-width: 30rem;
}

.euv-rb {
  border-bottom: #333 2pt dashed;
}

.euv-button-blue {
  color: #333;
  background-color: #e0eaf6;
  border-color: #e0eaf6;
}

.euv-button-blue:hover {
  color: #333;
  background-color: #c8d1dc;
  border-color: #c8d1dc;
}

