/* You can add global styles to this file, and also import other style files */
.euv-blue {
  color: rgb(0,129,186);
}

.euv-root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(51,51,51);
}

.euv-root label {
  color:rgb(51,51,51);
}

.euv-root h1 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #0081ba;
  text-transform: uppercase;
}

.euv-link-button {
  text-decoration: none;
  color: rgb(51,51,51);
  background-color: #e0eaf6;
  border-color: #e0eaf6;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
