<table class="calTable">
  <thead>
    <th class="dayHead"><span class="euv-head">Mo</span></th>
    <th class="dayHead"><span class="euv-head">Di</span></th>
    <th class="dayHead"><span class="euv-head">Mi</span></th>
    <th class="dayHead"><span class="euv-head">Do</span></th>
    <th class="dayHead"><span class="euv-head">Fr</span></th>
    <th class="dayHead"><span class="euv-head">Sa</span></th>
    <th class="dayHead"><span class="euv-head">So</span></th>
  </thead>
  <tbody>
    <tr *ngFor="let week of drawArray">
      <td *ngFor="let day of week; let i = index" class="day" [class.weekend]="i>4"[class.notInMonth]="!day.inMonth" [class.inMonth]="day.inMonth" [class.first]="i==0" [class.last]="i==6" [class.mid]="i>0 && i<6">
        <div class="dayInfo">{{day.display}}</div>
        <div>
          <img *ngIf="day.blau" [src]="environment.assetsPrefix +'assets/altpapier.svg'" class="toImg" alt="Altpapier">
          <img *ngIf="day.braun" [src]="environment.assetsPrefix +'assets/bioabfall.svg'" class="toImg" alt="Bioabfall">
          <img *ngIf="day.grau" [src]="environment.assetsPrefix +'assets/restabfall.svg'" class="toImg" alt="Restabfall">
          <img *ngIf="day.gelb" [src]="environment.assetsPrefix +'assets/wertstoffe.svg'" class="toImg" alt="Wertstoffe">
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="flex pt-2">
  <div class="flex">
    <img [src]="environment.assetsPrefix +'assets/altpapier.svg'" class="toImg" alt="Altpapier"><span class="pr-4">Altpapier</span>
  </div>
  <div class="flex">
    <img [src]="environment.assetsPrefix +'assets/bioabfall.svg'" class="toImg" alt="Bioabfall"><span class="pr-4">Bioabfall</span>
  </div>
  <div class="flex">
    <img [src]="environment.assetsPrefix +'assets/restabfall.svg'" class="toImg" alt="Restabfall"><span class="pr-4">Restabfall</span>
  </div>
  <div class="flex">
    <img [src]="environment.assetsPrefix +'assets/wertstoffe.svg'" class="toImg" alt="Wertstoffe"><span class="pr-4">Wertstoffe</span>
  </div>
</div>
