.notInMonth {
  color:#d0d0d0;
  vertical-align: top;
  padding: 0.5rem;
}

.inMonth {
  color: #000;
  vertical-align: top;
  padding: 0.5rem;
}

.dayHead {
  text-align: left;
  text-transform: uppercase;
  background-color: #d2d4d1;
  padding: 0.5rem;
  font-weight: 800;
  width: 5.5rem;
}

.euv-head {
  color: #333;
}

.dayInfo {
  text-align: left;
  font-weight: 600;
  font-size: 0.8rem;
}

.calTable {
  border-collapse: collapse;
}

.toImg {
  width: 1.2rem;
  padding-right: 0.1rem;
}

.first {
  border-width: 1px;
  border-color: #000;
  border-style: solid solid solid none;
}

.last {
  border-width: 1px;
  border-color: #000;
  border-style: solid none solid solid;
}

.mid {
  border-width: 1px;
  border-color: #000;
  border-style: solid;
}

.day {
  height: 4rem;
}

.weekend {
  background-color: #e9e9e9;
}
