<div class="flex">
  <button pButton class="euv-button-blue" (click)="openPdfCurrentYear()" label="PDF-Jahreskalender {{getCurrentYear()}}"></button>
  <button pButton class="euv-button-blue ml-2" *ngIf="displayNextYear()" (click)="openPdfNextYear()" label="PDF-Jahreskalender {{getNextYear()}}"></button>
</div>
