<div class="field">
  <label for="strassenname">Straße</label>
  <p-autoComplete
    id="strassenname"
    styleClass="inputfield w-full"
    (ngModel)="text"
    [suggestions]="results"
    field="name"
    (completeMethod)="search($event)"
    (onSelect)="select($event)"
    (onClear)="clear()"
    [(ngModel)]="selectedStrasse"
    [forceSelection]="true"
    [autoHighlight]="true"
    [required]="true">
  </p-autoComplete>
</div>
